body {
  padding-bottom: 0;
}
.logo {
  font-family: 'Roboto', sans-serif;
}
.th-head {
  font-family: 'Prompt', sans-serif;
}
.footer {
  padding: 2.5rem 0;
  color: #999;
  /* text-align: center; */
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
  height: 450px;
}
.footer p:last-child {
  margin-bottom: 0;
}
.sarabun {
  font-family: 'Sarabun', sans-serif;
}
.container-fluid {
  padding-right: 100px;
  padding-left:  100px;
}
@media screen and (max-width:375px){
  .container-fluid {
    padding-right: 30px;
    padding-left: 30px;
  }
}
