.mega-menu {
  width: 300px;
  overflow: hidden;
  padding: 10px;
}

.mega-menu a {
  text-decoration: none;
  /* color: cadetblue; */
}

.mega-menu .sub-menu-heading {
  /* color: darkcyan; */
  font-size: 1.2rem;
}

@media (max-width:500px) {
  .mega-menu {
    width: 300px;
  }
}

.mega-menu-2 {
  width: 1000px;
  overflow: hidden;
  padding: 10px;
}

.mega-menu-2 a {
  text-decoration: none;
  /* color: cadetblue; */
}

.mega-menu-2 .sub-menu-heading {
  /* color: darkcyan; */
  font-size: 1.2rem;
}

@media (max-width:500px) {
  .mega-menu-2 {
    width: 300px;
  }
}
