<!--
*********************************************************
                ## ส่วนท้าย ##
    ทำการแบ่งคอลัมน์ไว้ให้ 3 คอลัมน์เผื่อๆ เปลี่ยนเนื้อหาได้เลย

    * ส่วนไอคอนโซเชียลด้านล่าง จะเอาออกก็ได้แล้วแต่เลยครับ

*********************************************************
 -->

<footer class="footer">
    <div class="container">
      <!-- <p class="float-right">
        <a href="#">Back to top</a>
      </p> -->
      <div class="row">
        <div class="col-md-4">
          <h3 class="logo" style="font-weight: 600; color:#333333;">DotpropHatyai</h3>
          <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit
            esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
            occaecat cupidatat non proident, sunt in culpa qui officia
            deserunt mollit anim id est laborum.</p>
          </div>
          <div class="col-md-4">
            <h3 class="logo" style="font-weight: 600; color:#333333;">DotpropHatyai</h3>
            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna
              aliqua. Ut enim ad minim veniam, quis nostrud exercitation
              ullamco laboris nisi ut aliquip ex ea commodo consequat.
              Duis aute irure dolor in reprehenderit in voluptate velit
              esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
              occaecat cupidatat non proident, sunt in culpa qui officia
              deserunt mollit anim id est laborum.</p>
            </div>
            <div class="col-md-4">
              <h3 class="logo" style="font-weight: 600; color:#333333;">DotpropHatyai</h3>
              <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit
                esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.</p>
            </div>
      </div><br>
      <div class="text-center">
        <a href="#"><i class="fab fa-facebook-f"></i></a>&nbsp;&nbsp;&nbsp;
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </footer>
